streamlit
yt-dlp
openai-whisper
ffmpeg-python
pydub
deep-translator
langchain
langchain-core
langchain-community
langchain-mistralai
mistralai
chromadb
langchain-chroma
sentence-transformers
langchain-huggingface
transformers
torch
pypdf
reportlab
python-dotenv
requests
numpy